{% extends 'index.html' %}
{% block title %}Acknowledgment{% endblock %}
{% block content %}
<p class="h2" style="text-align: center;display: block;margin: 1rem auto;">Acknowledgement</p>
<p class="h4" style="text-align: center;display: block;margin: 1rem auto;">Mentor: BANSIDHAR JOSHI</p>
<div class="row">
    <div class="col-md-4" style="margin: 1rem auto;">
        <img src="http://www.jiit.ac.in/sites/default/files/CS%20Bansidhar%20Joshi.JPG" alt="" class="img-thumbnail" style="height: 20rem;margin: 0 auto;display: block;">
    </div>
</div>
<div class="row">
    <div class="col-md-6 bg" style="margin: 1rem auto;">
        <p class="h4" style="text-align: center;display: block;margin: 1rem auto;">AREAS OF INTEREST</p>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" style="font-weight: bold;">Cloud Computing</a>
            <a class="list-group-item list-group-item-action" style="font-weight: bold;">Real Time Operating Systems</a>
            <a class="list-group-item list-group-item-action" style="font-weight: bold;">Artificial Intelligence</a>
            <a class="list-group-item list-group-item-action" style="font-weight: bold;">Network On Chip and High Performance Computing</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="margin: 0 auto;">
        <p class="h4" style="text-align: center;display: block;margin: 1rem auto;">Special Thanks</p>
        <div class="list-group" style="margin: 0 auto;">
            <button type="button" class="list-group-item list-group-item-action text-center"><b>I would like to give my sincere thanks to my Mentor and
                Professor : BANSIDHAR JOSHI for his immense guidance and direction for this project under his supervision.</b></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="margin: 0 auto;">
        <p class="h4" style="text-align: center;display: block;margin: 1rem auto;">Submitted By</p>
        <div class="list-group" style="margin: 0 auto;">
            <button type="button" class="list-group-item list-group-item-action text-center"><b>Ishjot Singh Ahluwalia 9917103256 F8 JIIT 128</b></button>
        </div>
    </div>
</div>
</div>
{% endblock %}