{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <!-- CSS -->
    <!-- Add Material font (Roboto) and Material icon as needed -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Add Material CSS, replace Bootstrap CSS -->
    <link href="{% static 'material.min.css' %}" rel="stylesheet">
</head>

<body style="margin-bottom: 30rem;">
    <header class="navbar navbar-dark navbar-full bg-primary doc-navbar-default">
        <button aria-controls="navdrawerDefault" aria-expanded="false" aria-label="Toggle Navdrawer" class="navbar-toggler" data-target="#navdrawerDefault" data-toggle="navdrawer">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-brand mr-auto">JIIT COVID-19 APP</span>
    </header>
    <div aria-hidden="true" class="navdrawer" id="navdrawerDefault" tabindex="-1">
        <div class="navdrawer-content">
            <div class="navdrawer-header">
                <a class="navbar-brand px-0" href="#">JIIT COVID-19 APP</a>
            </div>
            <nav class="navdrawer-nav">
                <a class="nav-item nav-link active" href="#">Active</a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>
                <a class="nav-item nav-link" href="#">Link</a>
            </nav>
            <div class="navdrawer-divider"></div>
            <p class="navdrawer-subheader">Navdrawer subheader</p>
            <ul class="navdrawer-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'getnews' %}">Get Live News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'techstack' %}">Get Tech Stack</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#"><i class="material-icons mr-3">alarm_off</i> Disabled with icon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="material-icons mr-3">link</i> Link with icon</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Main Block -->
    <div class="container-fluid">
        {% block content %}
        <p class="h1" style="text-align: center;display: block;margin: 1rem auto;">JIIT COVID-19 APP</p>
        <div class="row">
            <div class="col-md-4">
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
            </div>
            <div class="col-md-4">
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
            </div>
            <div class="col-md-4">
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
            </div>
        
</button>

        </div>
        <div class="row">
            <div class="col-md-4" style="margin:1rem auto;">
                <img src="{% static 'coronalogo1.jpg' %}" alt="..." class="img-fluid img-thumbnail" style="margin: 0 auto;display: block;">
            </div>
            <div class="col-md-4" style="margin:1rem auto;">
                <img src="{% static 'jiit.png' %}" alt="..." class="img-fluid" style="margin: 0 auto;display: block;height: 12rem;">
            </div>
            <div class="col-md-4" style="margin:1rem auto;">
                <img src="{% static 'coronalogo2.jpg' %}" alt="..." class="img-fluid img-thumbnail" style="margin: 0 auto;display: block;">
            </div>
            <div class="col-md-6" style="margin:1rem auto;">
                <div class="bingwidget" data-type="covid19_stats" data-market="en-us" data-language="en-us" data-app="bingwidget" style="display: block;margin: 0 auto;"></div>
                <script src="//www.bing.com/widget/bootstrap.answer.js" async=""></script>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="bingwidget" data-type="covid19_map" data-market="en-us" data-language="en-us" data-app="bingwidget" style="display: block;margin: 0 auto;"></div>
                <script src="//www.bing.com/widget/bootstrap.answer.js" async=""></script>
            </div>
            <div class="col-md-6">
                <div class="bingwidget" data-type="covid19_trends" data-market="en-us" data-language="en-us" data-app="bingwidget" style="display: block;margin: 0 auto;"></div>
                <script src="//www.bing.com/widget/bootstrap.answer.js" async=""></script>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <img src="{% static 'info.jpg' %}" class="img-fluid img-thumbnail">
            </div>
            <div class="col-md-6" >
                <img src="{% static 'info2.jpg' %}" class="img-fluid img-thumbnail">
            </div>
        </div>
        <div class="row" style="margin-top: 1rem;">
            <div class="col-md-12">
                <img src="{% static 'info3.jpg' %}" class="img-fluid img-thumbnail">
            </div>
        </div>
        {% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="{% static 'material.min.js' %}"></script>
    <script>
    $(document).ready(function() {
        // This command is used to initialize some elements and make them work properly
        $('#navdrawerDefault').navdrawer('show');
    });
    </script>
    <!-- Then Material JavaScript on top of Bootstrap JavaScript -->
</body>

</html>