{% extends 'index.html' %}
{% block title %}Get News{% endblock %}
{% block content %}
<p class="h1" style="text-align: center;display: block;margin: 1rem auto;">Myth Busters</p>
<p class="h4" style="text-align: center;display: block;margin: 1rem auto;">Get your facts right</p>
{% for myth in myths %}
<div class="row">
    <div class="card bg-info text-white mb-3" style="max-width: 18rem;margin: 0 auto;">
        <div class="card-header">Soure WHO</div>
        <div class="card-body">
            <h5 class="card-title">{{myth.title}}</h5>
            <p class="card-text">{{myth.subject}}</p>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}