{% extends 'index.html' %}
{% block title %}Get News{% endblock %}
{% block content %}

<div class="col-md-6" style="margin: 0 auto;">
	<p class="h1" style="text-align: center;display: block;margin: 1rem auto;">News Section</p>
    {% for article in articles %}
    <div class="card" style="width: 18rem;margin: 1rem auto;">
        <img class="card-img-top img-fluid" src="{{article.urlToImage}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{article.title}}</h5>
            <p class="card-text">{{article.content}}</p>
            <a href="{{article.url}}" class="btn btn-primary">Read More</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}