{% extends 'index.html' %}
{% block title %}Tech Stack{% endblock %}
{% load static %}
{% block content %}
<div class="card" style="width: 22rem;margin: 1rem auto;">
    <img class="card-img-top" src="{% static 'stack.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="font-weight: bold;margin: 0 auto;text-align: center;">TechStack</h5>                    
      <p class="card-text">
        FrontEnd / Client Side - Material Design By Google + JavaScript 
    </p>
    <p class="card-text">
        Backend / Server Side - Django Framework (Python)
    </p>
    <p class="card-text">
        Database - Sqlite / PostgreSQL
    </p>
    <p class="card-text">
        Deployment - Heroku
    </p>
    </div>
  </div>
{% endblock %}