{% extends 'index.html' %}
{% block title %}Urgent{% endblock %}
{% block content %}
<div class="demo-card-wide mdl-card mdl-shadow--2dp" style="margin: 1rem auto 1rem auto;">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Official Support : Government Of India</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Click to navigate to these links
      <br>
      <a href="https://www.mygov.in/covid-19/" style="margin-top: 1rem;display: block;">mygov.in</a>
      <br>
      <a href="https://www.mohfw.gov.in/" style="margin-top: 1rem;display: block;">mohfw.gov.in</a>
      <br>
      <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" style="margin-top: 1rem;display: block;">World Health Organization Covid19 Page</a>
      <br>
      <a href="https://www.worldometers.info/coronavirus/country/india/" style="margin-top: 1rem;display: block;">WorldMeter India</a>
      <br>
      <a href="mailto:ncov2019@gov.in" style="margin-top: 1rem;display: block;">ncov2019@gov.in (mail)</a>
      <br>
      <a href="tel:+91-11-23978046" style="margin-top: 1rem;display: block;">+91-11-23978046 (telephone)</a>
      <br>
      <a href="tel:1075" style="margin-top: 1rem;display: block;">1075 (toll free)</a>

    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="background-color: green;color: white;"
       href="whatsapp://send?text=Covid19appJIIT%0aPlease refer to our app and urgent helpline page in case of emergency.%0aLink of our app%0aLink:https://jiitcovid19appishjot.herokuapp.com/"> 
        Share via Whatsapp 
      </a>
    </div>
  </div>
{% endblock %}