{% extends 'index.html' %}
{% load static %}
{% block title %}Urgent{% endblock %}
{% block content %}
<p class="h1" style="text-align: center;display: block;margin: 1rem auto;">Get Urgent Helpline</p>
<p class="h6" style="text-align: center;display: block;margin: 1rem auto;">Refer Links Below</p>
<div class="row">
    <div class="col-md-6" style="margin: 0 auto;">
    <img src="{% static 'emergency.jpg' %}" alt="." class="img-fluid img-thumbnail">
    <div class="card-body">
      <a href="https://www.mygov.in/covid-19/" style="margin-top: 1rem;display: block;">mygov.in</a>
      <br>
      <a href="https://www.mohfw.gov.in/" style="margin-top: 1rem;display: block;">mohfw.gov.in</a>
      <br>
      <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" style="margin-top: 1rem;display: block;">World Health Organization Covid19 Page</a>
      <br>
      <a href="https://www.worldometers.info/coronavirus/country/india/" style="margin-top: 1rem;display: block;">WorldMeter India</a>
      <br>
      <a href="mailto:ncov2019@gov.in" style="margin-top: 1rem;display: block;">ncov2019@gov.in (mail)</a>
      <br>
      <a href="tel:+91-11-23978046" style="margin-top: 1rem;display: block;">+91-11-23978046 (telephone)</a>
      <br>
      <a href="tel:1075" style="margin-top: 1rem;display: block;">1075 (toll free)</a>
    </div>
  </div>
</div>
{% endblock %}